/* Set a background image by replacing the URL below */
body {
  background-image: url("../images/type.jpg");
  /* background: blue; */
   /* url('https://source.unsplash.com/twukN12EN7c/1920x1080') */ /* no-repeat center center fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
}

#dtd-hedshot {
  float: left;
  width: 250px;
  padding: 0px 25px 10px 0px;
}

#copyright {
  text-align: center;
  color: white;
}

#reverse-type {
  background-color: turquoise;
  color: white;
}