/* Set a background image by replacing the URL below */
body {
  background-image: url("../images/type.jpg");
  /* background: blue; */
   /* url('https://source.unsplash.com/twukN12EN7c/1920x1080') */ /* no-repeat center center fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
}

.my-navbar {
  padding-top: 100px;
}

#reverse-type {
  background-color: #2f9992;
  color: white;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  font-weight: bold;
}

#dtd-container {
  width: 50%;
  /* float: left; */
  margin-right: 570px;
} 

#headline {
  color: #2f9992;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

#dtd-hedshot {
  float: left;
  width: 250px;
  padding: 0px 25px 10px 0px;
}

/* .my-card-stlye {
  width: 18rem;
  padding-right: 1200px;
  border: 0px;
} */

#copyright {
  text-align: center;
  color: white;
}
